.top_bar
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 101px;
    z-index: 2;
}

.title
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 1075px;
    z-index: 2;
    top: 5px;
}

.home_button
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 50px;
    z-index: 2;
    top: 7px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.about_button
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 150px;
    z-index: 2;
    top: 7px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.team_button
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    left: 250px;
    z-index: 2;
    top: 7px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.welcome_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 200px;
    left: 900px;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.welcome_to_techtide_logo
{
    position: relative;
    top: 5px;
    z-index: -2;
    height: 100px;
}

.welcome_text1
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 200px;
    left: 960px;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.category_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 100px;
    left: 41%;
    font-size: 80px;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    z-index: -2;
}

.bottom_bar
{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    left: 0px;
    width: 100%;
    height: 300px;
    z-index:-2;
}

.computerss_button
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 300px;
    left: 80px;
    font-size: 40px;
    z-index: 1;
    border-radius: 35px;
    padding: 15px;
    border: solid;
}

.computer_shortcuts_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 250px;
    left: 190px;
    font-size: 30px;
    z-index: -2;
}

.computer_tricks_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 250px;
    left: 150px;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.computer_title
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 100px;
    left: 950px;
    font-size: 100px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.computer_shortcuts_title
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 150px;
    left: 800px;
    font-size: 100px;
    -webkit-text-stroke: 5px rgb(0, 0, 0);
    z-index: -2;
}

.computer_shortcuts_category_text1
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 150px;
    left: 860px;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.computer_shortcuts_category_shortcuts_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 300px;
    left: 20px;
    font-size: 50px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.category_box {
    position: relative;
    top: 300px;
    left: 8.5%;
    width: 78%;
    z-index: 0;
    border: solid;
    padding: 35px;
    border-radius: 50px;
    color: darkgray;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2)
}

.computers_button {
    color: black;
    font-family: 'Roboto';
    position: absolute;
    top: 300px;
    left: 80px;
    font-size: 40px;
    border-radius: 35px;
    padding: 15px;
    border: solid;
    z-index: 1;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
}

.the_team
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 200px;
    left: 1110px;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.Retro_Gaming_profile a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 250px;
    left: 1000px;
}

.Retro_Gaming_profile img {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
}

.Rad_Gaming_profile a {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 90px;
    left: 1320px;
    z-index: 1;
}

.Rad_Gaming_profile img {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: auto;
}

.Wait_where_did_that_page_go_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 200px;
    left: 830px;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.tech_is_trying_to_find_something
{
    position: relative;
    top: 380px;
    left: 180px;
    z-index: -2;
}

.fourofour
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 250px;
    left: 1050px;
    font-size: 60px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.Retro_Gaming_profile_about img
{
    position: relative;
    top: 150px;
    left: 50px;
}

.big_about_Retro_gaming_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: -150px;
    left: 450px;
    font-size: 30px;
    z-index: -2;
}

.founder_text
{
    color: black;
    font-family: 'Roboto';
    position: relative;
    top: 600px;
    left: 650px;
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    z-index: -2;
}

.computer_category_box {
    position: relative;
    top: 300px;
    left: 28px;
    z-index: 0;
    border: solid;
    padding: 35px;
    border-radius: 50px;
    color: darkgray;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2)
}

.computer_shortcuts_category_box {
    position: relative;
    top: 300px;
    left: 30px;
    z-index: 0;
    border: solid;
    padding: 35px;
    border-radius: 50px;
    color: darkgray;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2)
}

.computer_image_flipped {
    position: relative;
    bottom: 1050px;
    left: 300px;
    z-index: -2;
}

.computer_image {
    position: relative;
    top: 600px;
    left: 100px;
    z-index: -2;
}

.about_site_text_under_computer {
    position: relative;
    top: 600px;
    left: 200px;
    z-index: -2;
    font-family: Roboto;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.information_about_our_site_text {
    position: relative;
    top: 630px;
    left: 200px;
    z-index: -2;
    font-family: Roboto;
    font-size: 20px;
}

.circuit_board_image {
    position: relative;
    top: 750px;
    left: 1900px;
    z-index: -2;
}

.More_website_information_title {
    position: relative;
    top: 800px;
    left: 1800px;
    z-index: -2;
    font-family: Roboto;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.More_website_information_text {
    position: relative;
    top: 820px;
    left: 1800px;
    z-index: -2;
    font-family: Roboto;
    font-size: 20px;
}

.bottom_text_home {
    position: relative;
    top: 1000px;
    left: 750px;
    z-index: -2;
    font-family: Roboto;
    font-size: 50px;
    -webkit-text-stroke: 2px black;
}

.category_button {
    color: white;
    font-family: 'Roboto';
    position: relative;
    top: 1100px;
    left: 1100px;
    font-size: 40px;
    border-radius: 35px;
    padding: 15px;
    border: solid;
    z-index: -2;
    cursor: pointer;
    transform: scale(1);
    transition: transform 0.3s;
    text-shadow: 0 0 5px rgb(0, 255, 0), 0 0 20px rgb(0, 255, 0);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    background: repeating-linear-gradient(90deg, 
    red 0%, orange 14%, yellow 28%, rgb(0, 255, 0) 42%, rgb(0, 140, 255) 56%, rgb(149, 0, 255) 70%, violet 84%, red 100%);
    background-size: 200% 200%;
    animation: rainbowFlow 5s infinite linear;
}

.bottom_logo
{
    position: absolute;
    left: 1075px;
    top: 5px;
    z-index: -2;
}

.home_button_bottom
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 1135px;
    z-index: 2;
    top: 100px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.about_button_bottom
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 1235px;
    z-index: 2;
    top: 100px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.team_button_bottom
{
    color: white;
    font-family: 'Roboto';
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    left: 1335px;
    z-index: 2;
    top: 100px;
    text-decoration: none;
    transform: scale(1);
    transition: transform 0.3s;
}

.computers_button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.home_button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.about_button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.team_button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.category_button:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.home_button_bottom:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.about_button_bottom:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

.team_button_bottom:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.loader {
  width: 40px;
  height: 40px;
  border: 5px solid lightgray;
  border-top: 5px solid blue;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rainbowFlow {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}
